.copy {
  padding: 20px 15vw;
  background-color: white;

  @include onMobile {
    padding: 5px 5vw;
  }
}

.copy p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 138%;
  color: #000000;
}
