.footer {
  background-image: url("../../img/footer.png");
  padding: 100px 20vw;

  @include onTablet {
    padding: 80px 10vw;
  }

  &__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;

    @include onMobile {
      font-size: 38px;
    }
  }

  &__subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
    margin: 0;
    margin-bottom: 40px;
    @include onMobile {
      font-size: 18px;
    }
  }

  &__content {
    min-width: 100%;

    @include onTablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__contacts {
    gap: 30px;

    @include onTablet {
      margin-bottom: 40px;
      gap: 20px;
    }
  }

  &__row {
    gap: 34px;

    @include onMobile {
      gap: 10px;
    }
  }

  &__icon {
    filter: $color-white-icon;
    line-height: 100%;
  }

  &__contact {
    color: white;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 132%;

    @include onMobile {
      font-size: 14px;
    }
  }

  &__form {
    min-width: 500px;
    gap: 20px;

    @include onMobile {
      min-width: fit-content;
    }
  }

  &__label {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }

  &__input {
    min-width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: #ffffff;
  }

  &__button {
    width: 155px;
    height: 50px;
    text-align: center;
    background-color: $color-primary;
    color: white;
    border: none;
    align-self: flex-end;

    &:hover {
      background-color: $color-primary-shade;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__textarea {
    height: 100px;
  }
}
