.header {
  display: flex;
  justify-content: center;
  gap: 350px;
  align-items: center;

  height: 100px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.icon {
  filter: $color-white-icon;
}

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 11px;

  &__icon {
    max-height: 50px;
  }

  &__text {
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 138.27%;
  }
}

.main-nav {
  gap: 13px;

  &__data {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 55px;

    &-link {
      display: flex;
      gap: 15px;
      text-decoration: none;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 17px;
      color: white;
    }
  }

  &__list {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 60px;
    padding-left: 25px;
  }

  &__link {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }

  @include onTablet {
    display: none;
  }
}

/* STICKY NAVIGATION */

.header.is-sticky {
  position: fixed;
  animation: slideDown 0.35s ease-out;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.header.is-sticky .logo__text,
.header.is-sticky .main-nav__data-link,
.header.is-sticky .main-nav__link {
  color: $color-primary;
}

.header.is-sticky .icon {
  filter: $color-primary-icon;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
