.slider {
  height: 100vh;
  z-index: 0;
  z-index: 0;
}

.slider div {
  height: 100%;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  display: block;
  z-index: 10;
  filter: $color-white-icon;

  min-width: 67px;
  min-height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include onTablet {
    display: none !important;
  }
}

.arrow {
  max-height: 25px;
  max-width: 20px;
}

.prev {
  left: 75%;
  bottom: 11%;
  background: rgba(0, 0, 0, 0.2);
}

.next {
  left: calc(75% + 67px);
  bottom: 11%;
  background: rgba(0, 0, 0, 0.4);

  @include onMobile {
    left: calc(75% + 35px);
  }
}

.slider .slick-dots {
  display: flex !important;
  justify-content: center;
  list-style-type: none;
  gap: 40px;
  position: absolute;
  bottom: 10%;
  left: 12vw;

  button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;

    border: none;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);

    text-indent: -9999px;
  }

  li.slick-active button {
    background-color: rgba(255, 255, 255, 0.4);
  }

  @include onTablet {
    display: none !important;
  }
}

.section-hero {
  &__box {
    position: absolute;
    top: 25%;
  }

  &__container {
    max-width: 65%;

    @include onTablet {
      max-width: 100%;
    }
  }

  &__title {
    font-family: "Open Sans", sans-serif;
    font-size: 2.8rem;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #ffffff;

    @include onTablet {
      font-size: 1.8rem;
    }
  }

  &__subtitle {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    height: 3.5rem;
    width: 11rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #ffffff;
    transition: 0.2s;

    &:hover {
      background-color: $color-primary-shade;
      color: #ffffff;
      text-decoration: none;
    }
  }
}
