.tab {
  background-color: #fff;
  padding-top: 1px;

  &__container {
    background-image: url("../../img/tab.png");
    min-width: 100%;
    min-height: 100px;
  }

  &__icon {
    @include onTablet {
      display: none;
    }
  }

  &__box {
    margin: 40px 50px;

    @include onTablet {
      margin: 10px;
    }
  }

  &__title {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #ffffff;
    margin: 0;
    margin-bottom: 60px;
  }

  &__content {
    gap: 130px;

    @include onTablet {
      flex-direction: column;
    }
  }

  &__text {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    color: #ffffff;

    @include onTablet {
      font-size: 14px;
    }
  }
}

.nav-pills {
  margin-top: 65px;
}

.nav-item {
  margin-right: 12px;
  background-color: #fff;
  border: none;
  width: 225px;
  height: 60px;
}

.nav-link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;

  color: #000000;
}

.nav-pills .nav-link.active {
  background-color: $color-primary;
  border-radius: 0;
  width: 225px;
  height: 60px;
  text-align: center;
}
